body {
	margin: 0;
	padding: 0;
  	font-family: "Helvetica", "Arial", sans-serif;
  	line-height: 1.5;
  	color: #555;
  	background-color: #f3e9e0;
}

header, main {
	margin: 0 auto;
	max-width: 50em;
	padding: 4em 1em;
}

h1, h2, strong {
	color: #333;
	text-align: center;
}
#sasa{
    font-family: 'Pacifico', cursive;
    margin-left: 500px;
    font-size: 3em;
	color: #cc8b00;
}

header {
  max-width: none;
  background-color: #FFE6B3;
  background-image: url("slike_razno/likSaKapom.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}
p{
	padding: 5px;
	text-indent: 30px;
}

header a{
	text-decoration: none;
}
#naslovi{
	text-align: center;
	margin-top: 10%;
}
#tekst1{
	border-radius: 10px 10px 10px 10px;
	background-color: white;
}

#leviD, #leviO {
	border-radius: 0 25px 25px 0;
	width: calc(0.10*50em);
	height: 100%;
	background-image: url("slike_razno/strelica1.png");
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
	background-size: 100% 100%;
}
#srednjiD, #srednjiO{
	width: calc(0.8*50em);
	height: 200px;
	background-size: cover;
	/*background-image: url("slike_razno/liksakapom.png");*/
	/*background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
        url('slike_razno/liksakapom.png');*/
    /*background-image: url('slike_razno/liksakapom.png');
    opacity: 0.5;*/
    /*background: url('slike_razno/liksakapom.png'), -moz-radial-gradient(circle, red, green);*/
    background: -webkit-radial-gradient(center center, ellipse cover, rgba(0,0,0,0) 30%,rgba(255,255,255,1) 70%),
		url('slike_razno/liksakapom.png');
		outline: none;

}
#desniD, #desniO{
	border-radius: 0 25px 25px 0;
	width: calc(0.09*50em);
	height: 100%;
	background-image: url("slike_razno/strelica1.png");
	background-size: 100% 100%;
}

#leviD, #leviO, #srednjiD, #srednjiO, #desniD, #desniO{
	background-color: white;
	background-position: center top;
  	background-repeat: no-repeat;
  	/*border: solid;*/
  	display: table-cell;
  	cursor: pointer;
}

#webdizajn, #opstisaveti{
	display: table;
	padding: 0;
}

#dStrbelaL, #oStrbelaL{
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#dStrbelaD, #oStrbelaD{
	opacity: 0;
	max-width: 100%;
	max-height: 100%;
	width: 200px;
	height: 200px;
}

