
body {
    overflow-x:hidden;
}
/*.rTable {
  display: table;
}*/
/*#pocetna {
  height: 759px;
  width: auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}*/
#poslednjaVisina {
  height: 100%;
}
.contact {
  display: table;
  height: 100%;
}
.contact>h3 {
  display: table-cell;
  vertical-align: middle;
}
footer {
   background-color: rgba(243, 233, 224, 0.7);
   background-size: cover;
   border-style: solid;
   border-color: rgba(243, 233, 224, 0.7);
   text-align: center;
}
footer p {
   margin: 0;
   padding: 10px;
   text-align: center;
   color: #993A33;
   font-style: italic;
}

.format_strane {
  height: 760px;
  min-height: 760px;
  max-height: 4000px;
  /*height: auto;*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*overflow: hidden;*/
}
.format_strane_levo {
  height: 100vh;
  min-width: 250px;
  max-height: 4000px;
  /*height: auto !important;*/
  /*overflow: hidden;*/
  /*width: 60%;*/
  background-color: rgb(242, 242, 242);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.format_strane_desno {
  height: 100vh;
  /*padding-bottom: 1000px;
  margin-bottom: -1000px;*/
  /*height: 723px;*/
  min-width: 250px;
  max-height: 4000px;
  display: inline-block;
  /*float: left;*/
  border-left-style: solid;
  border-right-style: solid;
  background-color: rgb(242, 242, 242);
  border-width: 25px;
  border-color: rgba(243, 233, 224, 0.7);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.pozadina1 {
	background-image: url("slike/bridge1.png");
	background-position: 50% 0%;
}
.pozadina2 {
	background-image: url("slike/sitno.png");
	background-position: 50% 0%;
}
.pozadina3 {
  background-image: url("slike/ironMan.png");
  background-position: 50% 0%;
}

.jumbotron {
    background-color: rgba(243, 233, 224, 0.7);
    margin-top: 50%;
    padding: 15px;
    -webkit-transition: width 2s;
    transition: width 2s;
}
.jumbotron1 {
	background-color: rgba(160, 160, 160, 0.7) !important;
    margin-top: 3%;
}
.naslov {
   background-color: rgba(243, 233, 224, 0.7);
   text-transform: uppercase;
   padding-top: 0;
   padding-bottom: 0;
}
.naslov h2 {
   font-weight: 700;
   font-size: 1.75em;
}
.text-center{
  margin-top: 10px;
  text-align: center;
}
#tekst {
	color: rgb(243, 233, 224);
}
#tekst>p {
	font-size: 1em;
}
#slika>img {
	margin: 10%;
}
/*#slika>p {
	margin: 10%;
}*/
#sasa{
  position: fixed;
  max-height: 100px;
  top: 54px;
  left: 4px;
  z-index: 1;
}
.tehnologija {
	width: 120px;
	height: 120px;
}
.redjanje {
	float: left;
	padding-top: 13px;
	padding-left: 20px;
}
.donja_crta {
	border-bottom-style: solid;
	border-color: rgb(243, 233, 224);
	padding-bottom: 13px;
  height: 20%;
}
span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  line-height: normal;
  color: rgb(243, 233, 224);
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
/*.redjanje>a>img {
	margin-top: 15px;
}*/
img{
	border: 3px solid rgb(243, 233, 224);
}
/*pomeraj*/
#github, .redjanje>#vimeo-player, .redjanje>a>img{
  -webkit-transition: all .5s;
  transition: all .5s;
}
#github:hover{
  -webkit-transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}
.redjanje>#vimeo-player:hover, .redjanje>a>img:hover{
  -webkit-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
}
iframe {border:0px solid #000;
    border-radius: 5px !important;
}


/*.transition{
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}
.nontransition{
  -webkit-transform: none;
  transform: none;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
}*/

/*animacija*/
#start{
  display: table;
  /*display: inline-block;*/
  position: relative;
  top: 35%;
  left: 30%;
  /*transform: translate(-50%,-50%);*/
  height: 35%;
  width: 30%;
  background-color: #D3C3AD;
  /*font-size: 1.5em;*/
  border-radius: 25px;
  text-align: center;
  min-width: 200px;
  visibility: hidden;
  opacity: 0.7;
  padding-left: 10px;
  padding-right: 10px;

  /*-webkit-animation-name: sitno;
   animation-name: sitno;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-timing-function: linear;
   animation-timing-function: linear;*/
}
#textcenter {
  /*display: inline-block;*/
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
  overflow: hidden;
  text-shadow: 0px 1px 0px rgba(255,255,255,.5);
}
.social {
  display: table-cell;
   padding-top: 50px;
   text-align: left;
   vertical-align: middle;
}
.social1 {
  display: table-cell;
   text-align: left;
   vertical-align: middle;
 }
.social ul {
   padding: 0;
   margin: 0;
}
.social ul li {
   padding: 2px 0;
   display: inline-block;
}
.social ul li a {
   min-width: 100px;
   text-align: left;
}
.social ul li a:hover,
.social ul li a:focus {
   text-decoration: none;
}
.dugmeBelo {
  background-color: white;
  color: black;
}
.dugmePlavo {
  background-color: #0083BE;
  color: white;
}
.dugmeSvPlavo {
  background-color: #42C8F4;
  color: white;
}
.dugmeCrno {
  background-color: black;
  color: white;
}

.thumbnail {
  height: 120px;
}

/*.flex {
  display: flex;
  justify-content: center;
}*/
@-webkit-keyframes sitno {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1);
    -webkit-opacity: 1;
  }
}
@keyframes sitno {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

a {
   position: relative;
   color: #ffffff;
   text-decoration: none;
   z-index: 1;
}
a:focus,
a:hover {
   color: #333333;
   text-decoration: none;
   outline: 0;
}
.navbar-default {
   background-color: #ffe6b3;
   border-color: #ffe6b3;
   border: none;
   border-radius: 0px;
   margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>ul>li>a {
   color: #ffffff;
   background-color: #ffe6b3;
}
.navbar-default .navbar-nav>li>a {
   position: relative;
   width: 100%;
   font-weight: 700;
   display: inline-block;
   vertical-align: bottom;
   white-space: nowrap;
   overflow: hidden;
}
.navbar-default .navbar-nav>li, .navbar-default .navbar-nav>li li {
  width: 120px;
  text-align: center;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav>li>ul>li>a:hover, 
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav>li>ul>li>a:focus {color: black; background-color: #e9e5e2;}
.navbar-default .navbar-nav>li>a::before, {
   position: absolute;
   top: 0;
   left: -1px;
   z-index: -1;
   width: 102%;
   height: 100%;
   background: #e9e5e2;
   content: "";
/*   -webkit-transition: -webkit-transform .3s;
   transition: transform .3s;*/
   -webkit-transform: translateX(-100%);
   transform: translateX(-100%);
}

.navbar-default .navbar-nav>li>ul>li>a::before {

}
.dropdown-menu{
    padding: 0;
}
.dropdown-menu li>a {
  overflow-wrap: normal;
}


.navbar-default .navbar-nav>li>a:hover::before,
.navbar-default .navbar-nav>li>a:focus::before {
   -webkit-transform: translateX(0);
   transform: translateX(0);
}

.navbar-default .navbar-brand {
   color: #333333;
}

.dropdown-menu {
  width: 120px;
  min-width: 120px;
}
.dropdown-menu a{
  font-size: 0.8em;
  font-weight: bold; 
}

@media (min-width: 0px) {
    #textcenter {
        font-size: 1em;
    }
}
@media (min-width: 568px) {
    #textcenter {
        font-size: 1.2em;
    }
}
@media (min-width: 892px) {
    #textcenter {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 992px) {
  .social ul li {
      padding: 5px 0;
      display: block;
   }
   .social ul li a {
      min-width: 114px;
      text-align: left;
   }
}

@media only screen and (max-width: 766px) {
.collapsing, .in {background-color: #f7f7f7;}
.collapsing ul li a, .in ul li a {color: #555!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: black!important;}
}
